<div class="w3-top">
  <!--Nav classique-->
  <div class="w3-bar w3-white">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="toggleMenuMob()">
      <i class="fa fa-bars"></i>
    </a>
    <a class="w3-bar-item w3-button"  routerLink=""><i class="fa fa-home"></i> HOME</a>
    <a class="w3-bar-item w3-button w3-hide-small" routerLink="portfolio"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a class="w3-bar-item w3-button w3-hide-small" routerLink="contact"><i class="fa fa-envelope"></i> CONTACT</a>
  </div>

  <!--Nav mobile-->
  <div class="w3-bar-block w3-white w3-hide-large w3-hide-medium w3-hide" [ngClass]="{'w3-show w3-animate-left': menuMobile}">
    <a class="w3-bar-item w3-button" routerLink="portfolio" (click)="toggleMenuMob()">PORTFOLIO</a>
    <a class="w3-bar-item w3-button" routerLink="contact" (click)="toggleMenuMob()">CONTACT</a>
  </div>
</div>
